* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

script {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

input {
  border: none;

  &:focus-visible {
    outline: none;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--base-foreground);
  transition: var(--transition-color);

  &:hover {
    color: var(--primary);
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-size: 1rem;
  font-family: 'AllerRegular', sans-serif;
  color: var(--base-foreground);
  background-color: var(--base-background);
}

.main {
  flex: 1;
}
