.base-product-actions {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.625rem;

  &__control {
    display: flex;
    width: 2.75rem;
    height: 2.75rem;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &__icon {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    margin: auto;
  }
}

.base-product-actions a:hover {
  opacity: 0.7;
}