.offers {
  padding: 1.563rem 0;
  background-color: rgb(36, 36, 36);

  &__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.25rem;
  }

  &__item {
    flex: 1;
  }
}

.offers-item {
  position: relative;
  display: flex;
  flex: 1;
  height: 17.188rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin: auto;
    padding: 1rem 2rem;
    background-color: rgba(36, 36, 36, 0.8);
  }

  &__link {
    display: block;
    font-size: 1.563rem;
    text-transform: uppercase;
    white-space: nowrap;
    color: rgb(255, 255, 255);
  }
}