@font-face {
  font-family: 'RobotoCondensedLight';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/RobotoCondensedLight.woff') format('woff'),
    url('../fonts/RobotoCondensedLight.woff2') format('woff2');
}

@font-face {
  font-family: 'RobotoCondensedBold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/RobotoCondensedBold.woff') format('woff'),
    url('../fonts/RobotoCondensedBold.woff2') format('woff2');
}

@font-face {
  font-family: 'RobotoRegular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/RobotoRegular.woff') format('woff'),
    url('../fonts/RobotoRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'MuseoSansCyrl-100';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-100.woff2') format('woff2');
}

@font-face {
  font-family: 'MuseoSansCyrl-300';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.woff2') format('woff2');
}

@font-face {
  font-family: 'MuseoSansCyrl-500';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-500.woff2') format('woff2');
}

@font-face {
  font-family: 'MuseoSansCyrl-700';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.woff2') format('woff2');
}

@font-face {
  font-family: 'MuseoSansCyrl-900';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-900.woff2') format('woff2');
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.25;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

a {
  cursor: pointer;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

li {
  list-style-type: none;
}

button,
button:hover,
button:focus {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  min-width: 300px;
  margin: 0 auto;
  font-family: MuseoSansCyrl-300, sans-serif;
  font-weight: 400;
  color: #292f2f;
  background-color: #fff;
  overflow-x: hidden;
}

.wrapper__inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.line-brake {
  display: none;
}
.button {
  display: inline-block;
  padding: 20px 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  border-radius: 3px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(black),
    color-stop(0%, #fc9f2b),
    to(#f67a7f)
  );
  background-image: -webkit-linear-gradient(
    left,
    black 0%,
    #fc9f2b 0%,
    #f67a7f 100%
  );
  background-image: -o-linear-gradient(
    left,
    black 0%,
    #fc9f2b 0%,
    #f67a7f 100%
  );
  background-image: linear-gradient(
    to right,
    black 0%,
    #fc9f2b 0%,
    #f67a7f 100%
  );
  -webkit-box-shadow: 7px 12.124px 17px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 7px 12.124px 17px 0px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  outline: none;
  opacity: 0.9;
  -webkit-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.button:hover {
  opacity: 1;
  -webkit-box-shadow: 7px 12.124px 17px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 7px 12.124px 17px 0px rgba(0, 0, 0, 0.1);
}
.mb40 {
  margin-bottom: 40px;
}
.section-title {
  margin-bottom: 30px;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-family: 'MuseoSansCyrl-900', sans-serif;
}

/* STEPS */
.steps__inner {
  padding-top: 50px;
  padding-bottom: 50px;
}
.steps__step {
  text-align: center;
  color: #d8dbe2;
}
.steps__step:not(:last-child):after {
  content: '';
  display: block;
  width: 3px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #d8dbe2;
}
.steps__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 30px;
  border-width: 3px;
  border-style: solid;
  border-radius: 100%;
  border-color: #d8dbe2;
}
.steps__sign {
  margin-bottom: 20px;
}
.steps__step-active {
  color: #bac3ca;
}
.steps__step-active .steps__num {
  border-color: #bac3ca;
}
.steps__step-active:not(:last-child):after {
  background-color: #9facb5;
}
.steps__step {
  font-family: 'MuseoSansCyrl-500', sans-serif;
}
.steps__sign {
  font-family: 'MuseoSansCyrl-700', sans-serif;
}

/* STEPS END */

/* FARTHER */
.farther {
  margin-bottom: 100px;
}
.farther__head {
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size: 20px;
  background-image: -webkit-linear-gradient(
    230deg,
    rgb(72, 177, 170) 0%,
    rgb(87, 230, 180) 100%
  );
  background-image: -o-linear-gradient(
    230deg,
    rgb(72, 177, 170) 0%,
    rgb(87, 230, 180) 100%
  );
  background-image: linear-gradient(
    -140deg,
    rgb(72, 177, 170) 0%,
    rgb(87, 230, 180) 100%
  );
}
.farther__title {
  margin-bottom: 0;
  color: #fff;
}
/* FARTHER END*/

/* PACKAGE*/
.package__inner {
  margin-bottom: 50px;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f4f9ff;
  background-image: url('./images/package-bg-top.jpg'),
    url('./images/package-bg-bottom.jpg'),
    -webkit-linear-gradient(350deg, #53bde3 20%, #4eaee8 100%);
  background-image: url('./images/package-bg-top.jpg'),
    url('./images/package-bg-bottom.jpg'),
    -o-linear-gradient(350deg, #53bde3 20%, #4eaee8 100%);
  background-image: url('./images/package-bg-top.jpg'),
    url('./images/package-bg-bottom.jpg'),
    linear-gradient(100deg, #53bde3 20%, #4eaee8 100%);
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  background-size: 100%, 100%;
}
.package__wrap {
  max-width: 100%;
}
.package__title {
  margin-bottom: 10px;
  color: #fff;
}
.package__caption {
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.package__descr {
  margin-bottom: 30px;
}
.package__descr-pick {
  font-family: 'MuseoSansCyrl-900', sans-serif;
}
.package__more {
  margin-bottom: 30px;
  text-align: center;
  color: #a0a0a0;
  font-size: 20px;
  font-family: 'MuseoSansCyrl-500', sans-serif;
}
.package__link {
  display: block;
  width: 13px;
  height: 26px;
  margin: 0 auto;
  background-image: url(./images/package-arrow.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.package__table {
  overflow-x: auto;
  overflow-y: hidden;
}
.package__btn {
  font-size: 12px;
}
.table {
  width: 100%;
  min-width: 640px;
  table-layout: fixed;
  border-collapse: collapse;
  color: #585858;
  font-family: 'MuseoSansCyrl-500', sans-serif;
}
.table td,
.table th {
  width: 100%;
  text-align: center;
  font-weight: normal;
}
.table th {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
}
.table td {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f3f3f3;
  background-image: url(./images/package-mark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px 21px;
  border: 1px solid #d5d5d5;
}
.table td.none {
  background-image: url(./images/package-none.png);
  background-size: 24px 24px;
}
.table td.tabel-btn {
  background-color: transparent;
  background-image: none;
  border: none;
}
.table .th-caption {
  position: relative;
  color: #a3a3a3;
}
.table .th-caption:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #88b9e9;
}
.th-caption-blue {
  color: #88b9e9;
  font-family: 'MuseoSansCyrl-900', sans-serif;
}
.table .table-caption {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  background-color: #e6e6e6;
  background-image: none;
}
.tabel-btn {
  text-align: center;
}
.bage {
  position: relative;
}
.bage__pic {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: auto;
}
.tooltips {
  position: relative;
  display: block;
  cursor: pointer;
}
.tooltips span {
  position: absolute;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  background: #000000;
  line-height: 30px;
  text-align: left;
  line-height: 1;
  visibility: hidden;
  border-radius: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.25s linear 0s;
  -o-transition: opacity 0.25s linear 0s;
  transition: opacity 0.25s linear 0s;
}
.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: 8px;
  width: 0;
  height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tooltips:hover span {
  visibility: visible;
  opacity: 0.8;
  bottom: 100%;
  left: 0;
  margin-left: 0;
  margin-bottom: 20px;
  z-index: 999;
  -webkit-transition: opacity 0.25s linear 0s;
  -o-transition: opacity 0.25s linear 0s;
  transition: opacity 0.25s linear 0s;
}
/* PACKAGE END*/

/* LIST */
.list__items {
  position: relative;
  margin-bottom: 20px;
  padding-left: 40px;
}
.list__items:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(./images/check-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.list__strong {
  font-family: 'MuseoSansCyrl-900', sans-serif;
}
/* LIST END*/

/* PAYMENT */
.payment {
  margin-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}
.payment-brake {
  display: none;
}
.payment__title {
  margin-bottom: 20px;
}
.payment__text {
  font-size: 20px;
}
.payment__pack {
  margin-top: 30px;
  margin-bottom: 50px;
}
.payment__pack_items {
  width: 186px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  border-radius: 5px;
}
.payment__silver {
  margin-bottom: 50px;
  border: 3px solid #dbdbdb;
  -webkit-box-shadow: 23px 39.837px 70px 0px rgba(219, 219, 219, 0.4);
  box-shadow: 23px 39.837px 70px 0px rgba(219, 219, 219, 0.4);
}
.payment__gold {
  border: 3px solid #fdc630;
  -webkit-box-shadow: 23px 39.837px 70px 0px rgba(253, 198, 48, 0.15);
  box-shadow: 23px 39.837px 70px 0px rgba(253, 198, 48, 0.15);
}

.payment__name {
  margin-bottom: 10px;
  font-size: 28px;
  font-family: 'MuseoSansCyrl-900', sans-serif;
  color: #000;
}
.payment__descr {
  font-size: 14px;
}
.payment__button {
  margin-top: 40px;
}
.progress__wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.progress__inner {
}

.progress__item {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 0;
}
.progress__item:nth-child(odd) {
  background-color: #ececec;
}

.progress__pic {
  width: 125px;
  height: 125px;
}

.progress__text {
  padding-left: 20px;
  padding-right: 20px;
}
.payment-way {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
/* PAYMENT END*/

/* GUARANTEE */
.guarantee {
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: -webkit-linear-gradient(
    218deg,
    rgb(255, 229, 162) 0%,
    rgb(252, 194, 120) 100%
  );
  background-image: -o-linear-gradient(
    218deg,
    rgb(255, 229, 162) 0%,
    rgb(252, 194, 120) 100%
  );
  background-image: linear-gradient(
    -128deg,
    rgb(255, 229, 162) 0%,
    rgb(252, 194, 120) 100%
  );
}
.guarantee__inner {
  position: relative;
}
.guarantee__stamp {
  position: absolute;
  top: -170px;
  left: -30px;
  width: 200px;
  height: auto;
}
.guarantee__items {
  position: relative;
  margin-bottom: 20px;
  padding-left: 40px;
}
.guarantee__items:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(./images/check-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.guarantee__text {
  margin-bottom: 30px;
}
.guarantee__button {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
.guarantee__btn,
.guarantee__btn:hover,
.guarantee__btn:active,
.guarantee__btn:focus {
  color: #000;
  background-image: none;
  background-color: #ffe0b2;
  border: 1px solid #e1b277;
}
.guarantee__logo {
  text-align: center;
}
.guarantee__logo img {
  width: 200px;
  height: auto;
}
/* GUARANTEE END*/

/* FAQ */
.faq {
  padding-bottom: 100px;
  background-color: #fff;
  background-image: url(./images/page-bottom-bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 100px;
}

.faq__inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.faq__content {
  background-color: #2f80ed;
  background-image: -webkit-linear-gradient(40deg, #56ccf2 0%, #2f80ed 100%);
  background-image: -o-linear-gradient(40deg, #56ccf2 0%, #2f80ed 100%);
  background-image: linear-gradient(50deg, #56ccf2 0%, #2f80ed 100%);
  border-radius: 10px;
}

.faq__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  color: #fff;
  cursor: pointer;
}

.faq__head-br {
  border-radius: 10px;
}

.faq__head-br-t {
  border-radius: 10px 10px 0 0;
}

.faq__head-br-b {
  border-radius: 0 0 10px 10px;
}

.faq__number {
  margin-right: 40px;
  font-size: 50px;
  font-family: 'RobotoCondensedBold', sans-serif;
  line-height: 0;
}

.faq__question {
  font-size: 16px;
  font-family: 'MuseoSansCyrl-700', sans-serif;
}

.faq__answer {
  display: none;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}
/* FAQ END*/

/* FOOTER */
.page-footer {
  background-color: #0a3c7e;
}

.page-footer__inner {
  padding: 30px 0;
  text-align: center;
  color: rgba(89, 190, 224, 0.6);
}

.page-footer__about,
.page-footer__info {
  margin-bottom: 15px;
}

.page-footer__link {
  display: block;
  color: rgba(89, 190, 224, 0.6);
}

.page-footer__link:nth-child(1) {
  margin-bottom: 10px;
}
/* FOOTER END*/

@media only screen and (min-width: 400px) {
  .payment-brake {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper__inner {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .line-brake {
    display: block;
  }
  .section-title {
    margin-bottom: 40px;
  }

  /* STEPS */
  .steps__scale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .steps__step {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 130px;
  }
  .steps__step:not(:last-child) {
    margin-right: 100px;
  }
  .steps__step:not(:last-child):after {
    position: absolute;
    top: 22px;
    left: 100%;
    width: 100px;
    height: 3px;
    margin-bottom: 0;
  }
  .steps__sign {
    width: 100%;
    margin-bottom: 0;
  }
  /* STEPS END */

  /* FARTHER */
  .farther__title {
    margin-bottom: 0;
    font-size: 25px;
  }
  /* FARTHER END*/

  /* PACKAGE*/
  .package__wrap {
    max-width: 800px;
  }
  .package__btn {
    font-size: 16px;
  }
  /* PACKAGE END*/

  /* PAYMENT */
  .payment {
  }
  .payment__title {
    margin-bottom: 20px;
  }
  .payment__pack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .payment__silver {
    margin-left: 0;
    margin-right: 60px;
    margin-bottom: 0;
  }
  .payment__gold {
    margin: 0;
  }
  .progress__wrapper {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .progress__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 10px;
  }
  .progress__item:nth-child(odd) {
    border-radius: 100px;
  }
  .progress__pic {
    position: relative;
    top: 15px;
  }
  .progress__text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: auto;
    text-align: left;
  }
  .payment-way {
    width: 60%;
    max-width: none;
    margin-left: -5px;
    margin-right: 0;
  }
  /* PAYMENT END*/

  /* GUARANTEE */
  .guarantee__stamp {
    left: -65px;
    width: 250px;
  }
  /* GUARANTEE END*/

  /* FAQ */
  .faq {
    padding-bottom: 200px;
    background-size: 100% 150px;
  }

  .faq__inner {
    padding-top: 100px;
  }

  .faq__question {
    font-size: 19px;
  }
  /* FAQ END*/

  /* FOOTER */
  .page-footer__link {
    display: inline-block;
    margin-right: 30px;
  }

  .page-footer__link:nth-child(1) {
    margin-bottom: 0;
  }
  /* FOOTER END*/
}

@media only screen and (min-width: 992px) {
  .wrapper__inner {
    max-width: 1080px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .word-brake {
    display: block;
  }
  .section-title {
    font-size: 35px;
  }

  /* PACKAGE*/
  .package {
    /*padding-top: 120px;*/
  }
  .package__wrap {
    max-width: 1080px;
  }
  /* PACKAGE END*/

  /* PAYMENT */
  .progress__wrapper {
    max-width: 1080px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* PAYMENT END*/

  /* FARTHER */
  .farther__title {
    margin-bottom: 0;
    font-size: 25px;
  }
  /* FARTHER END*/

  /* GUARANTEE */
  .guarantee {
    padding-top: 110px;
  }
  .guarantee__stamp {
    left: -30px;
  }
  /* GUARANTEE END*/
}
@media only screen and (min-width: 1200px) {
  /* GUARANTEE */
  .guarantee__stamp {
    left: -80px;
  }
  /* GUARANTEE END*/

  .package__inner {
    padding-top: 115px;
  }
}

@media only screen and (min-width: 1300px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
  .package__inner {
    padding-top: 160px;
  }
}
