---
import './_base-toolbar.scss';

import type { SvgComponent } from "astro/types";

import IconRepeat from '@/assets/images/icons/repeat.svg';
import IconHeart from '@/assets/images/icons/heart.svg';
import IconUser from '@/assets/images/icons/user.svg';
import IconCart from '@/assets/images/icons/cart.svg';

import BaseSearch from '@/components/base/search/BaseSearch.astro';

interface IBaseToolbarItem {
  id: string;
  action?: string;
  icon?: SvgComponent;
  component?: any;
}

const baseUrl = import.meta.env.BASE_URL;

const currentPath = Astro.url.pathname;

const toolbarItems: IBaseToolbarItem[] = [
  { id: 'search', component: BaseSearch},
  { id: 'compare', icon: IconRepeat },
  { id: 'wishlist', icon: IconHeart },
  { id: 'account', icon: IconUser },
  { id: 'cart', icon: IconCart },
];

const href = (item: IBaseToolbarItem): string => {
  return `${baseUrl}${item.id}`
}
---

<ul class="base-toolbar">
  {toolbarItems.map((item) => {
    let content;
    
    if (item.component) {
      const Component = item.component;
      content = <Component />;
    } else {
      content = (
        <a
          href={href(item)}
          class:list={[
          { 'base-toolbar-link--active': currentPath === href(item) }
        ]}>
          {item.icon && <item.icon />}
        </a>
      );
    }
    
    return <li class="base-toolbar__item">{content}</li>;
  })}
</ul>