---
import './_base-toolbar.scss';

import type { SvgComponent } from "astro/types";

import IconRepeat from '@/assets/images/icons/repeat.svg';
import IconHeart from '@/assets/images/icons/heart.svg';
import IconUser from '@/assets/images/icons/user.svg';
import IconCart from '@/assets/images/icons/cart.svg';

import BaseSearch from '@/components/base/search/BaseSearch.astro';

interface Item {
  id: string;
  action?: string;
  href?: string;
  icon?: SvgComponent;
  component?: any;
}

const baseUrl = import.meta.env.BASE_URL;

const toolbarItems: Item[] = [
  { id: 'search', component: BaseSearch},
  { id: 'compare', href: `compare`, icon: IconRepeat },
  { id: 'wishlist', href: 'wishlist', icon: IconHeart },
  { id: 'user', href: 'account', icon: IconUser },
  { id: 'cart', href: 'cart', icon: IconCart },
];
---

<ul class="base-toolbar">
  {toolbarItems.map((item) => {
    let content;
    
    if (item.component) {
      const Component = item.component;
      content = <Component />;
    } else {
      content = (
        <a href={`${baseUrl}/${item.href}`} >
          {item.icon && <item.icon />}
        </a>
      );
    }
    
    return <li class="base-toolbar__item">{content}</li>;
  })}
</ul>