---
import LayoutPrefooterTop from '@/components/layout/LayoutPrefooterTop.astro';
import LayoutPrefooterBottom from '@/components/layout/LayoutPrefooterBottom.astro';
---

<div class="prefooter">
  <LayoutPrefooterTop />
  <img class="prefooter-divider" src="/src/assets/images/prefooter-divider.png" alt="" />
  <LayoutPrefooterBottom />
</div>
