<nav class="menu clearfix">
  <div class="wrapper">
    <ul class="menu-list">
      <li><a href="/">home</a></li>
      <li><a href="">products</a></li>
      <li><a href="about">about</a></li>
      <li><a href="">pages</a></li>
      <li><a href="">blog</a></li>
      <li><a href="">contacts</a></li>
    </ul>

    <ul class="menu-bar">
      <li class="menu-wishlist">
        <a href="#">
          <img src="/src/assets/images/menu_star_icon.png" alt="" />
          <div class="menu-wishlist__total">30</div>
        </a>
      </li>
      <li class="menu-cart">
        <a href="#">
          <img src="/src/assets/images/menu_cart_icon.png" alt="" />
          <div class="menu-cart__total">0</div>
        </a>
      </li>
    </ul>
  </div>
</nav>
