<div class="prefooter-bottom wrapper">
  <form action="send.php" class="prefooter-form">
    <input
      class="prefooter-form__field"
      type="email"
      name="EMAIL"
      placeholder="Enter email for newsletter"
    /><input
      class="prefooter-form__btn"
      type="submit"
      name="subscribe"
      value=""
    />
  </form>
  <ul class="prefooter-social">
    <li>
      <a href="" class="prefooter-socials__link"
        ><img src="/src/assets/images/social_fb.png" alt="" /></a
      >
    </li>
    <li>
      <a href="" class="prefooter-socials__link"
        ><img src="/src/assets/images/social_tw.png" alt="" /></a
      >
    </li>
    <li>
      <a href="" class="prefooter-socials__link"
        ><img src="/src/assets/images/social_goo.png" alt="" /></a
      >
    </li>
    <li>
      <a href="" class="prefooter-socials__link"
        ><img src="/src/assets/images/social_li.png" alt="" /></a
      >
    </li>
    <li>
      <a href="" class="prefooter-socials__link"
        ><img src="/src/assets/images/social_fk.png" alt="" /></a
      >
    </li>
  </ul>
</div>
