<footer class="footer">
  <div class="footer-wrapper clearfix">
    <p class="footer-copy">
      Copyright © Fooseshoes 2013. <br />Designed by EnzoLiVolti.
    </p>
    <nav class="footer-nav">
      <ul class="footer-nav__list">
        <li><a href="">Home</a>/</li>
        <li><a href="">Support</a>/</li>
        <li><a href="">Terms and Conditions</a>/</li>
        <li><a href="">Faqs</a>/</li>
        <li><a href="">Contact us</a></li>
      </ul>
    </nav>
  </div>
</footer>
