<div class="widgets wrapper">
  <div class="widget-inline">
    <h3 class="widgets-title">text widget</h3>
    <p class="widget-text__text">
      Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id
      dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante
      venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo
      luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </p>
  </div>

  <div class="widget-inline">
    <h3 class="widgets-title">twitter widget</h3>
    <div class="widget-twitter__box">
      <p class="widget-twitter__box-links">
        <a href="#"
          ><span>@ericafustero</span> Why thank you. Your work looks awesome by the
          way! <span>@treemelody</span></a
        >
      </p>
      <div class="widget-twitter__box-date">
        <a href="#">19 days ago</a>
      </div>
      <p class="widget-twitter__box-links">
        <a href="#"
          ><span>@roymarvelous</span> You can seek a refund through TF if it is not
          as advertised - but it is :)</a
        >
      </p>
      <div class="widget-twitter__box-date">
        <a href="#">21 days ago</a>
      </div>
    </div>
  </div>

  <div class="widget-inline">
    <h3 class="widgets-title">flickr widget</h3>
    <ul class="widget-flickr__list">
      <li>
        <a href="" class="widget-flickr__links"
          ><img src="/src/assets/images/flickr_item1.jpg" alt="" /></a
        >
      </li>
      <li>
        <a href="" class="widget-flickr__links"
          ><img src="/src/assets/images/flickr_item2.jpg" alt="" /></a
        >
      </li>
      <li>
        <a href="" class="widget-flickr__links"
          ><img src="/src/assets/images/flickr_item3.jpg" alt="" /></a
        >
      </li>
      <li>
        <a href="" class="widget-flickr__links"
          ><img src="/src/assets/images/flickr_item4.jpg" alt="" /></a
        >
      </li>
      <li>
        <a href="" class="widget-flickr__links"
          ><img src="/src/assets/images/flickr_item5.jpg" alt="" /></a
        >
      </li>
      <li>
        <a href="" class="widget-flickr__links"
          ><img src="/src/assets/images/flickr_item6.jpg" alt="" /></a
        >
      </li>
    </ul>
  </div>
</div>
