<header class="header clearfix">
  <div class="wrapper">
    <div class="logo">
      <a href="#">
        <img
          src="/src//src/assets/images/header_logo.png"
          alt="fooshoes"
          width="156"
          height="20"
        />
      </a>
    </div>

    <div class="header-bar">
      <button class="search">
        <img
          src="/src/assets/images/header_search_icon.png"
          alt="search"
          width="14"
          height="14"
        />
      </button>
      <div class="login">
        <a href="#">login</a>
        <span>or</span>
        <a href="#">register</a>
      </div>
    </div>
  </div>
</header>
