---
import { Image } from 'astro:assets';
import Logo from '@/assets/images/logo.png';
---

<a href="/portfolio/store" class="base-logo">
  <Image src={Logo} alt="Store" class="base-logo__image" />
</a>