* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.dropdown-menu  {
	position: relative;
}
body {
    width: 1920px;
	width: 100%;
    max-width: 1920px;
/*    min-width: 1920px;*/
	margin: 0 auto;
	font-size: 14px;
	font-family: roboto;
	background-color: #f0f0f0;
}
fieldset {
	border: none;
	margin-bottom: 20px;
}
h1,
h2 {
	margin: 0;
	padding: 0;
	font-size: inherit;
}
legend,
label {
	font-size: inherit;
	font-weight: bold;
	color: #333;
}
select,
input[type=text] {
	height: 30px;
	width: 100%;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: inherit;
	background-color: #fff;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
}
.btn {
    display: block;
	width: 200px;
    margin: 0 auto;
	text-transform: capitalize;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	font-family: inherit!important;
	outline: none;
}
.form-container__input-radio,
.form-container__input-checkbox {
	position: relative;
 }
 .form-container__input-radio span,
 .form-container__input-checkbox span {
	position: absolute;
	top: 0;
	left: 20px;
 }
 .container {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	width: 100%;
 	max-height: 100vh;
 	min-height: 100vh;
 	margin: 0;
 	padding: 0;
 }

 // MENU
 .menu-container {
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
}

.menu-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.menu-line2 {
    border-bottom: solid 1px #e5e5e5;
}
.menu-line3 {
    margin-bottom: 10px;
    border-bottom: solid 1px #e5e5e5;
}
.menu-item {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.menu-item:hover {
    color: #8f8f8f;
    cursor: pointer;
}

.menu-item__active {
    border-bottom: 2px solid rgb(51, 122, 183);
    color: #8f8f8f;
}

.menu-item__active-2 {
    color: rgb(51, 122, 183);
}

.page-header {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin: 0;
	background-color: #fafafa;
	border-bottom: 1px solid #e5e5e5;
}
.operation-title {
	margin-left: 15px;
	font-size: 15px;
}
 .operation-container {
 	-webkit-box-flex: 1;
 	    -ms-flex: 1;
 	        flex: 1;
 }
.main-content {
	height: calc(100vh - 160px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 10px;
}

.form-container {
	-webkit-box-flex:5;
	    -ms-flex:5;
	        flex:5;
	margin-bottom: 10px;
	padding: 30px;
	background-color: #fff;
	overflow-y: auto;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}
.form-container form {
	width: 250px;
    text-align: left;
}
.age {
	width: 60px;
}

.option-container {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}
.option-title-container {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}
.option-container__title {
	margin: 0;
    padding: 10px 20px;
	border-bottom: 1px solid #e5e5e5;
}

.option-container form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 20px 0;
}
.option-container fieldset {
	width: 33%;
	margin-bottom: 0;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	border-right: 1px solid #e5e5e5;
}
.option-container fieldset:last-child  {
	border-right: none;
}
.option-container h3 {
	margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
.option-day {
	width: 50px;
	margin-right: 15px;
}
.option-period {
	width: 100px;
}
.option-select-button {
	width: 120px;
	margin-bottom: 20px;
	padding: 5px 10px;
	font-size:  inherit;
}
.option-btn-box {
	width: 100%;
}
.option-btn {
	width: 100%;
	padding: 10px 30px;
}

.panel__arrow {
	padding: 10px;
	text-align: center;
	text-transform: capitalize;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}
.panel {
	width: 50px;
	max-width: 50px;
	min-width: 50px;
	max-height: 100vh;
	min-height: 100vh;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 0;
	// margin-left: 10px;
	border-left: 1px solid #e5e5e5;
	border-radius: 0;
}
.panel__arrow {
	padding: 10px;
	text-align: center;
	text-transform: capitalize;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}
.panel__title {
	width: 50px;
	max-width: 50px;
	position: absolute;
	top: 50%;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	text-transform: capitalize;
    font-size: 17px;
}