---
import { type IProduct } from '@/components/ui/product-card/BaseProductCard.astro';

import Layout from '@/layouts/Layout.astro';
import HomeSlider from '@/components/home/HomeSlider.astro';
import HomeOffers from '@/components/home/HomeOffers.astro';
import HomePromo from '@/components/home/HomePromo.astro';
import HomeAddons from '@/components/home/HomeAddons.astro';

const products: IProduct[] = [
  {
    productId: 1,
    title: 'Even & Odd',
    price: 149.99,
    imageUrl: '/src/assets/images/newArrivals_item1.jpg',
    isAvailable: true,
    isNewArrival: true,
  },
  {
    productId: 2,
    title: 'Anna Field',
    price: 3490,
    imageUrl: '/src/assets/images/newArrivals_item2.jpg',
    isAvailable: true,
    isOnSale: true,
    isNewArrival: true,
  },
  {
    productId: 3,
    title: 'Bullo Decollete',
    price: 145.99,
    imageUrl: '/src/assets/images/newArrivals_item3.jpg',
    isAvailable: false,
    isNewArrival: true,
  },
  {
    productId: 4,
    title: 'Even & Odd',
    price: 149.99,
    imageUrl: '/src/assets/images/bestSeller_item1.jpg',
    isAvailable: true,
    isBestSeller: true,
  },
  {
    productId: 5,
    title: 'Anna Field',
    price: 3490,
    imageUrl: '/src/assets/images/bestSeller_item2.jpg',
    isAvailable: true,
    isOnSale: true,
    isBestSeller: true,
  },
  {
    productId: 6,
    title: 'Bullo Decollete',
    price: 145.99,
    imageUrl: '/src/assets/images/bestSeller_item3.jpg',
    isAvailable: false,
    isBestSeller: true,
  },
];
const newArrivals = products?.filter((product: IProduct) => product.isNewArrival === true) ?? [];
const bestSellers = products?.filter((product: IProduct) => product.isBestSeller === true) ?? [];
---

<Layout>
  <HomeSlider />
  <HomeOffers />

  <div class="home-content">
    <HomePromo title="New arrivals on FooseShoes" products={newArrivals} />
    <HomePromo title="best sellers of the months" products={bestSellers} />
    <HomeAddons />
  </div>
</Layout>
