---
import type { Product } from '@/components/ui/product-card/BaseProductCard.astro';

import Layout from '@/layouts/Layout.astro';
import HomeSlider from '@/components/home/HomeSlider.astro';
import HomeOffers from '@/components/home/HomeOffers.astro';
import HomePromo from '@/components/home/HomePromo.astro';
import HomeAddons from '@/components/home/HomeAddons.astro';

const productsNew: Product[] = [
  {
    productId: '1',
    title: 'Even & Odd',
    price: '145,99',
    bage: null,
    image: '/src/assets/images/newArrivals_item1.jpg',
  },
  {
    productId: '2',
    title: 'buffalo decollete',
    price: '185,99',
    bage: 'on sale',
    image: '/src/assets/images/newArrivals_item2.jpg',
  },
  {
    productId: '3',
    title: 'Even & Odd',
    price: '145,99',
    bage: null,
    image: '/src/assets/images/newArrivals_item3.jpg',
  },
];

const productsBest: Product[] = [
  {
    productId: '4',
    title: 'Even & Odd',
    price: '145,99',
    bage: null,
    image: '/src/assets/images/bestSeller_item1.jpg',
  },
  {
    productId: '6',
    title: 'Even & Odd',
    price: '185,99',
    bage: null,
    image: '/src/assets/images/bestSeller_item2.jpg',
  },
  {
    productId: '7',
    title: 'Bullo Decollete',
    price: '145,99',
    bage: 'out of stock',
    image: '/src/assets/images/bestSeller_item3.jpg',
  },
];
---

<Layout>
  <HomeSlider />
  <HomeOffers />

  <div class="home-content">
    <HomePromo title="New arrivals on FooseShoes" products={productsNew} />
    <HomePromo title="best sellers of the months" products={productsBest} />
    <HomeAddons />
  </div>
</Layout>
