---
import type { Product } from "@/components/ui/product-card/BaseProductCard.astro";

import Layout from '@/layouts/Layout.astro';
import HomeSlider from '@/components/home/HomeSlider.astro';
import HomeOffers from '@/components/home/HomeOffers.astro';
import HomePromo from '@/components/home/HomePromo.astro';

const productsNew: Product[] = [
  {
    productId: '1',
    title: 'Even & Odd',
    price: '145,99',
    bage: null,
    image: '/src/assets/images/newArrivals_item1.jpg',
  },
  {
    productId: '2',
    title: 'buffalo decollete',
    price: '185,99',
    bage: 'on sale',
    image: '/src/assets/images/newArrivals_item2.jpg',
  },
  {
    productId: '3',
    title: 'Even & Odd',
    price: '145,99',
    bage: null,
    image: '/src/assets/images/newArrivals_item3.jpg',
  }
]

const productsBest: Product[] = [
  {
    productId: '4',
    title: 'Even & Odd',
    price: '145,99',
    bage: null,
    image: '/src/assets/images/bestSeller_item1.jpg',
  },
  {
    productId: '6',
    title: 'Even & Odd',
    price: '185,99',
    bage: null,
    image: '/src/assets/images/bestSeller_item2.jpg',
  },
  {
    productId: '7',
    title: 'Bullo Decollete',
    price: '145,99',
    bage: 'out of stock',
    image: '/src/assets/images/bestSeller_item3.jpg',
  }
]
---

<Layout>
  <HomeSlider />
  <HomeOffers />


  <main class="main-content">
    <HomePromo title="New arrivals on FooseShoes" products={productsNew} />
    <HomePromo title="best sellers of the months" products={productsBest} />

    <div class="addons wrapper">
      <div class="addons-block">
        <h3 class="addons-title">free shipping</h3>
        <p class="addons-text">
          Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel nibh. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec erat sem,
        </p>
      </div>

      <div class="addons-block">
        <h3 class="addons-title">testimonials</h3>
        <p class="addons-text">
          vel, vulputate vel nibh. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Donec erat sem, vehicula id dictum sit <a>[...]</a>
        </p>
        <address class="testimonials-autor">- John Doe -</address>
      </div>

      <div class="addons-block">
        <h3 class="addons-title">blog news</h3>
        <a class="news" href="#">
          <div class="news-date">apr 01</div>
          <h4 class="news-title">Nice & clean. The best for you blog!</h4>
          <p class="news-text">Vivamus metus turpis, bibendum vitae euismod vel</p>
        </a>
        <a class="news" href="#">
          <div class="news-date">apr 01</div>
          <h4 class="news-title">What an Ecommerce theme!</h4>
          <p class="news-text">Vulputate vel nibh. Class aptent taciti sociosqu ad litora</p>
        </a>
      </div>
    </div>
  </main>
</Layout>
