@font-face {
  font-family: 'MuseoSansCyrl-300';
  font-weight: normal;
  font-style: normal;
  src: url('../_fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../_fonts/MuseoSansCyrl-300.woff2') format('woff2');
}

@font-face {
  font-family: 'MuseoSansCyrl-500';
  font-weight: normal;
  font-style: normal;
  src: url('../_fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('../_fonts/MuseoSansCyrl-500.woff2') format('woff2');
}

@font-face {
  font-family: 'MuseoSansCyrl-700';
  font-weight: normal;
  font-style: normal;
  src: url('../_fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../_fonts/MuseoSansCyrl-700.woff2') format('woff2');
}
@font-face {
  font-family: 'Solena-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(../_fonts/Solena-Regular.woff) format('woff'),
    url(../_fonts/Solena-Regular.woff2) format('woff2');
}

html {
  height: 100%;
  font-size: 20px;
  line-height: 1.25;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
button,
input,
textarea {
  outline: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

li {
  list-style-type: none;
}

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  display: block;
}

a,
a:hover {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

body {
  min-width: 320px;
  font-size: 100%;
  font-family: MuseoSansCyrl-300, sans-serif;
  font-weight: 400;
  background-color: #fff;
}

.body-wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

.wrapper-bordered {
  width: 100%;
  max-width: 1000px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.section-title {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 2em;
  font-family: MuseoSansCyrl-500, sans-serif;
}
.header {
  width: 100%;
  margin: 0 auto;
  background-image: url('./images/bg_top.png');
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro {
  width: 90%;
  max-width: 715px;
  margin: 0 auto;
}
.intro__inner {
  padding-top: 70px;
  padding-bottom: 80px;
  text-align: center;
}
.intro__title {
  max-width: 555px;
  margin: 0 auto;
  color: #fff;
  font-size: 30px;
  font-family: 'Solena-Regular', sans-serif;
  font-weight: normal;
  background-image: url(./images/bg_title.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center;
}
.intro__text {
  margin-bottom: 20px;
  font-size: 12px;
  font-family: 'MuseoSansCyrl-500', sans-serif;
}
.intro__bottom {
  width: 90%;
  max-width: 310px;
  margin: 0 auto;
}
.intro__date {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: bold;
  line-height: 1;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #fedfd5;
}
.intro__date span {
  position: relative;
  display: inline-block;
}
.intro__date span:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 10px;
  background-image: url(./images/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -332px;
}
.intro__link {
  width: 100%;
  display: block;
  position: relative;
  top: -5px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;
  font-family: 'MuseoSansCyrl-500', sans-serif;
  color: #fff;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff8100),
    to(#ffde00)
  );
  background: -webkit-linear-gradient(bottom, #ff8100, #ffde00);
  background: -o-linear-gradient(bottom, #ff8100, #ffde00);
  background: linear-gradient(to top, #ff8100, #ffde00);
  border: none;
  border-bottom: 2px solid #cc7100;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.intro__link:hover {
  opacity: 0.7;
}

.video {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.video__container {
  width: 280px;
  height: 168px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  background: url(../images/iphone.png) no-repeat center 0 / contain;
}
.video__frame {
  position: relative;
  top: 10px;
  left: 21px;
  width: 238px;
  height: 134px;
}
.video iframe {
  width: 100%;
  height: 100%;
}
.training {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.training__item {
  width: 100%;
  position: relative;
  margin-bottom: 3.125em;
  text-align: center;
  font-size: 16px;
  font-family: MuseoSansCyrl-300, sans-serif;
}

.training__item:last-child {
  margin-bottom: 0;
}

.training__item:before {
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url(./images/spritesheet.png);
  background-repeat: no-repeat;
}

.training__item:nth-child(1):before {
  background-position: -5px -358px;
}

.training__item:nth-child(2):before {
  background-position: -5px -416px;
}

.training__item:nth-child(3):before {
  background-position: -5px -468px;
}

.training__item:nth-child(4):before {
  background-position: -5px -526px;
}

.result__item:before {
  content: '';
  display: block;
  width: 53px;
  height: 73px;
  margin: 0 auto;
  margin-bottom: -25px;
  background-image: url(./images/spritesheet.png);
  background-repeat: no-repeat;
}

.result__item:nth-child(1):before {
  background-position: -5px -5px;
}

.result__item:nth-child(2):before {
  background-position: -5px -86px;
}

.result__item:nth-child(3):before {
  background-position: -5px -168px;
}

.result__item:nth-child(4):before {
  background-position: -5px -251px;
}

.author__inner {
  padding-top: 80px;
}
.author__item:first-child {
  margin-bottom: 80px;
}
.author__name {
  font-family: 'Solena-Regular', sans-serif;
  font-size: 60px;
}
.author__image {
  text-align: center;
}
.author__text {
  font-size: 18px;
  line-height: 1.5;
}

.footer {
  background-color: #56545c;
}

.footer__wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}
.footer .wrapper {
  padding-top: 0;
}

.footer__inner {
  padding: 2.25em 0;
  text-align: center;
}
.access {
  padding-top: 1em;
}
.access__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.access__mail {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.access__messenger {
  margin-bottom: 1em;
}
.access__messenger .access__link {
  margin-left: 0.38em;
}

.access__messenger .access__link:first-child {
  margin-left: 0;
}

.access__caption {
  margin-bottom: 0.5em;
  font-family: MuseoSansCyrl-500, sans-serif;
}

.access__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 0.5em;
}

.access__text {
  text-transform: uppercase;
  font-size: 0.5em;
}

.access__link {
  display: inline-block;
  cursor: pointer;
}
.access > .section-bordered {
  margin-bottom: 0;
}
.access-bottom {
  width: 100%;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}
.header-subscribe,
.bottom-subscribe {
  display: none;
}
.subscribe__inner {
  padding: 1em;
}
.subscribe__info {
  margin-bottom: 1em;
}
.subscribe__caption {
  font-size: 1em;
  font-family: MuseoSansCyrl-500, sans-serif;
}
.subscribe__info-list {
  width: 230px;
  margin: 0 auto;
  font-size: 0.7em;
}
.subscribe__info-item {
  text-align: left;
}
.subscribe__action {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.subscribe__field {
  width: 200px;
  height: 40px;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-size: 0.8em;
  font-family: MuseoSansCyrl-300, sans-serif;
  border: none;
  border: 2px solid #00000036;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.subscribe__btn {
  width: 200px;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 0.8;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: #fff;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff8100),
    to(#ffde00)
  );
  background: -webkit-linear-gradient(bottom, #ff8100, #ffde00);
  background: -o-linear-gradient(bottom, #ff8100, #ffde00);
  background: linear-gradient(to top, #ff8100, #ffde00);
  border: none;
  border-bottom: 2px solid #cc7100;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.subscribe__btn:hover {
  opacity: 0.7;
}
.author {
  padding-top: 1em;
  padding-bottom: 1em;
}

.author__image {
  margin-bottom: 1em;
}
.author__item {
  width: 100%;
}
.question {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #f7f7f7;
}

.question__text {
  max-width: 550px;
  margin: 0 auto;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 2em;
}

.info__link {
  margin-bottom: 1.6em;
  color: #fff;
  opacity: 0.15;
  font-size: 0.6em;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.info__link:hover {
  color: #fff;
  opacity: 0.2;
  border-bottom: 1px solid transparent;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.social__link {
  margin-left: 1.25em;
  opacity: 0.15;
  background-image: url(./images/spritesheet.png);
  background-repeat: no-repeat;
  -webkit-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.social__link:hover {
  opacity: 0.2;
}

.social__link:nth-child(1) {
  margin-left: 0;
  width: 34px;
  height: 33px;
  background-position: -5px -578px;
}

.social__link:nth-child(2) {
  width: 34px;
  height: 33px;
  background-position: -5px -707px;
}

.social__link:nth-child(3) {
  width: 34px;
  height: 33px;
  background-position: -5px -621px;
}

.social__link:nth-child(4) {
  width: 34px;
  height: 33px;
  background-position: -5px -750px;
}

.social__link:nth-child(5) {
  width: 34px;
  height: 33px;
  background-position: -5px -664px;
}

/*==========  Mobile First  ==========*/

@media only screen and (min-width: 440px) {
  .intro {
    width: 80%;
  }
  .intro__title {
    font-size: 37px;
  }
  .intro__text {
    font-size: 14px;
  }
  .video__container {
    width: 380px;
    height: 210px;
  }
  .video__frame {
    position: relative;
    top: 12px;
    left: 41px;
    width: 298px;
    height: 171px;
  }
}

@media only screen and (min-width: 576px) {
  .intro {
    width: 70%;
  }
  .intro__title {
    font-size: 43px;
  }
  .intro__text {
    font-size: 15px;
  }
  .access__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-bottom: 1em;
  }
  .access__mail {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  .access__messenger {
    margin-bottom: 0;
  }
  .subscribe__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .subscribe__caption {
    font-size: 1.2em;
  }
  .subscribe__info {
    margin-right: 1em;
  }
  .subscribe__info-list {
    width: 100%;
    font-size: 0.9em;
  }
  .subscribe__action {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 1em;
    margin-bottom: 1em;
  }
  .author__image {
    margin-right: 1em;
    margin-bottom: 0;
  }
  .author .section-title {
    text-align: left;
  }
}
@media only screen and (min-width: 640px) {
  .intro {
    width: 65%;
  }
  .intro__text {
    font-size: 17px;
  }
}
@media only screen and (min-width: 768px) {
  .section-title span {
    display: block;
  }
  .intro {
    width: 60%;
  }
  .intro__title {
    width: 90%;
    font-size: 50px;
  }
  .intro__text {
    font-size: 20px;
  }
  .intro__text span {
    display: block;
  }
  .video__container {
    width: 680px;
    height: 400px;
  }
  .video__frame {
    top: 23px;
    left: 56px;
    width: 566px;
    height: 321px;
  }
  .training__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .training__item {
    width: 25%;
  }
  .result__item {
    font-size: 13px;
  }
  .author__inner {
    padding-left: 100px;
    padding-right: 100px;
  }
  .author__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .author__item:nth-child(1) .author__desc {
    padding-left: 40px;
  }
  .author__item:nth-child(2) {
    text-align: right;
  }
  .author__item:nth-child(2) .author__desc {
    padding-right: 40px;
  }

  .access__inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .access__mail {
    width: 50%;
  }
  .access__messenger {
    width: 50%;
  }

  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .info {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .intro {
    width: 60%;
  }
  .intro__title {
    font-size: 60px;
  }
  .intro__text {
    font-size: 20px;
  }
  .intro__text span {
    display: block;
  }
  .result__item {
    font-size: 16px;
  }
  .access__mail {
    padding-left: 100px;
  }
  .access__messenger {
    padding-right: 50px;
  }
  .footer__inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .info__link {
    margin-left: 2.5em;
    margin-bottom: 0;
  }

  .info__link:first-child {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  /**/
}
