.base-menu {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.base-menu-link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;

  &--active {
    color: var(--primary);
  }
}
