* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-size: 1rem;
  font-family: 'AllerRegular', sans-serif;
  color: #242424;
  background-color: #5d5d5d;
}

.main {
  flex: 1
}