@font-face {
  font-family: 'AllerRegular';
  src:
    url('../fonts/Aller-Regular.woff2') format('woff2'),
    url('../fonts/Aller-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
