@forward './fonts';
@forward './normalize';
@forward './base';
@forward './layout-header';

.price {
  width: 68px;
  height: 67px;
  padding-top: 24px;
  text-align: center;
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.923;
  background: rgb(87, 197, 160);
}
.price span {
  vertical-align: middle;
}
.news-date {
  position: absolute;
  width: 36px;
  height: 36px;
  padding: 8px;
  background-color: rgb(87, 197, 160);
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 12px;
}

/*TOP MENU*/
.menu {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.menu-list {
  float: left;
  width: 70%;
  font-size: 0;
}
.menu-list li {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 1rem;
  border-left: 1px solid rgba(211, 211, 211, 0.9);
}
.menu-list li:last-child {
  border-right: 1px solid rgba(211, 211, 211, 0.9);
}
.menu-list a {
  color: rgb(36, 36, 36);
  text-transform: capitalize;
  line-height: 1.563;
}
.menu-list a:hover {
  color: rgb(87, 197, 160);
}
.menu-bar {
  float: right;
  font-size: 0;
}
.menu-bar img {
  margin-right: 8px;
  vertical-align: middle;
}
.menu-wishlist {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid rgba(211, 211, 211, 0.9);
  border-right: 1px solid rgba(211, 211, 211, 0.9);
}
.menu-cart {
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid rgba(211, 211, 211, 0.9);
}
.menu-wishlist,
.menu-cart {
  padding-left: 22px;
  padding-right: 22px;
}
.menu-bar a {
  font-size: 12px;
  font-weight: bold;
  line-height: 2.083;
  text-align: center;
  color: rgb(255, 255, 255);
}
.menu-bar div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 0.75rem;
  line-height: 1.7;
}
.menu-wishlist__total {
  background-color: rgb(173, 173, 173);
}
.menu-cart__total {
  background-color: rgb(87, 197, 160);
}
.menu-bar a:hover {
  opacity: 0.8;
}
/*SLIDER*/
.slider {
  position: relative;
}
.slider__img {
  max-width: 100%;
  min-height: 400px;
}
.slider-inner {
  width: 384px;
  position: absolute;
  top: 70px;
  right: 20px;
}
.slider-inner__title {
  margin: 15px 0;
  font-size: 2.5rem;
  font-weight: normal;
}
.slider-inner__description {
  margin-bottom: 15px;
  font-size: 1.1875rem;
  line-height: 1.2;
}
.slider-inner__action li {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
}
.slider-inner__action li {
  padding-top: 11px;
}
.slider-inner__action a:hover {
  opacity: 0.7;
}
.slider-nav {
  padding-top: 6px;
  padding-bottom: 23px;
  background: rgb(46, 46, 46);
  color: rgb(238, 238, 238);
}
.slider-nav__line {
  width: 100%;
  height: 10px;
  padding: 2px 10px;
  background: rgb(0, 0, 0);
}
.slider-nav__bar {
  width: 19%;
  height: 6px;
  background: rgb(87, 197, 160);
}
.slider-list {
  position: relative;
  font-size: 0;
}
.slider-list a:hover {
  color: rgb(87, 197, 160);
}
.slider-nav li {
  display: inline-block;
  margin-right: 5px;
  padding: 15px 0 24px 0;
  width: 19%;
  cursor: pointer;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.389;
}
.slider-nav li:last-child {
  margin-right: 0;
}
.slider-nav li a {
  font-size: 1.125rem;
}
.slider-nav li span {
  font-size: 0.75rem;
}
.slider-nav__divider {
  position: absolute;
  top: -7px;
  left: 195px;
}
.slider-nav__divider:nth-child(4) {
  left: 348px;
}
.slider-nav__divider:nth-child(6) {
  left: 535px;
}
.slider-nav__divider:nth-child(8) {
  left: 705px;
}

/*SPECIALS*/
.specials {
  padding: 25px 0;
  background-color: rgb(36, 36, 36);
  font-size: 0;
  text-align: center;
}
.specials-item {
  display: inline-block;
  width: 32%;
  position: relative;
  padding-right: 1%;
  text-align: center;
}
.specials-item img {
  width: 100%;
}
.specials-item__title {
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 2.4;
}
.specials-item__title a {
  display: inline-block;
  padding: 0 8%;
  color: rgb(255, 255, 255);
  background-color: rgba(36, 36, 36, 0.9);
}
.main-content {
  width: 100%;
  padding-top: 30px;
  background-color: #ebe7df;
}
/*PROMO*/
.promo {
  margin-bottom: 35px;
}
.promo-header {
  width: 100%;
  margin-bottom: 28px;
}
.promo-header h2 {
  float: left;
  font-size: 25px;
  font-weight: normal;
  color: rgb(36, 36, 36);
  line-height: 2.4;
}
.promo-header__btn {
  float: right;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  text-transform: capitalize;
  color: rgb(188, 181, 167);
  font-weight: bold;
  line-height: 1.786;
  text-align: center;
  border: 1px solid rgb(188, 181, 167);
  background-color: rgb(235, 231, 223);
}
.promo-header__btn:hover {
  color: rgb(235, 231, 223);
  background-color: rgb(188, 181, 167);
}
.product-container {
  max-height: 270px;
  font-size: 0;
  text-align: center;
}
.product-item {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  position: relative;
  height: 270px;
  margin-right: 2%;
  background-color: #fff;
}
.product-container .product-item:nth-child(3) {
  margin-right: 0;
}
.product-img {
  height: 220px;
  /* border-bottom: 3px solid rgba(188, 181, 167, 0.3); */
}
.product-img a {
  display: block;
  max-height: 220px;
}
.product-img img {
  max-width: 100%;
}
.product-item .price {
  position: absolute;
  top: 205px;
  left: 12px;
}
.product-title {
  padding: 13px 0 13px 93px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: rgb(36, 36, 36);
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: inset 0 2px 0 #ccc;
  box-shadow: inset 0 2px 0 #ccc;
}
.product-action {
  padding: 15px 0 15px 35%;
  background-color: #fff;
  font-size: 0;
  -webkit-box-shadow: inset 0 2px 0 #ccc;
  box-shadow: inset 0 2px 0 #ccc;
}
.product-action button {
  display: inline-block;
  vertical-align: top;
  margin-right: 15%;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.product-action button:hover {
  opacity: 0.7;
}
.product-action button:last-child {
  margin-right: 0;
}
.product-tumb__promo {
  position: absolute;
  top: 0;
  right: 13px;
  width: 68px;
  height: 67px;
  padding: 28px 0;
  background-color: #242424;
}
.product-tumb__promo p {
  color: rgb(255, 255, 255);
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.orange {
  padding: 20px 0;
  background-color: #f27e4b;
}

/*ADDONS*/
.addons {
  width: 100%;
  margin: 0 auto;
  padding: 26px 0 23px;
  font-size: 0;
  border-top: 1px solid #bcb5a7;
}
.addons-block {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 185px;
  min-height: 185px;
  margin-right: 2%;
  padding: 32px 27px 33px 15px;
  background-color: rgba(0, 0, 0, 0.05);
}
.addons-block:last-child {
  position: relative;
  width: 46%;
  margin-right: 0;
}
.addons-title {
  margin-bottom: 17px;
  color: #242424;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.addons-text {
  color: #242424;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}
.addons-block .news:last-child {
  margin-bottom: 0;
}
.news {
  display: block;
  text-decoration: none;
  margin-bottom: 21px;
}

.news-title,
.news-text {
  margin-left: 45px;
  font-size: 14px;
  line-height: 16px;
  color: rgb(36, 36, 36);
}

/*PREFOOTER*/
.prefooter {
  background-color: rgb(36, 36, 36);
  padding-bottom: 45px;
}

.widgets {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 31px;
  padding-top: 51px;
  font-size: 0;
  text-align: center;
}
.widget-inline {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 5%;
  text-align: left;
}
.widget-inline:last-child {
  margin-right: 0;
}
.widgets-title {
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(125, 125, 125);
}
.widget-text__text {
  text-align: justify;
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
  color: rgb(164, 164, 164);
}

.widget-twitter__box-links {
  margin-bottom: 11px;
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
}
.widget-twitter__box-links a {
  color: rgb(164, 164, 164);
  text-decoration: none;
}
.widget-twitter__box-links span {
  color: rgb(87, 197, 160);
}

.widget-twitter__box-date {
  margin-bottom: 15px;
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
  color: rgb(196, 197, 191);
}
.widget-twitter__box-date a {
  color: rgb(164, 164, 164);
  text-decoration: none;
}

.widget-twitter__box .widget-twitter__box-date:last-child {
  margin-bottom: 0;
}

.widget-flickr__list {
  display: inline-block;
  padding-right: 3px;
  padding-bottom: 3px;
}
.widget-flickr__list li {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
  margin-bottom: 7px;
}
.widget-flickr__list li:nth-child(3n) {
  margin-right: 0;
}
.widget-flickr__list li:nth-child(n + 4) {
  margin-bottom: 0;
}
.widget-flickr__list li img {
  max-width: 100%;
}
.prefooter-divider {
  width: 100%;
  height: 3px;
}
.prefooter-bottom {
  width: 940px;
  margin: 0 auto;
  padding-top: 37px;
}
.prefooter-form {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.prefooter-form__field {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 36px;
  padding: 1px 0 0 15px;
  background-color: rgb(46, 46, 46);
  border: none;
  color: rgb(125, 125, 125);
  font-size: 12px;
  font-style: italic;
}

.prefooter-social {
  float: right;
}
.prefooter-social li {
  display: inline-block;
  padding-right: 8px;
}

.prefooter-social li:last-child {
  padding-right: 0;
}
.prefooter-socials__link {
  display: block;
}
.prefooter-form__btn {
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: url('../images/form-arrow-icon.png') no-repeat center;
  background-color: rgb(125, 125, 125);
  border: none;
}

/*FOOTER*/
.footer {
  padding: 29px 0 31px;
  background-color: rgb(46, 46, 46);
}

.footer-wrapper {
  width: 90%;
  margin: 0 auto;
}
.footer-copy {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.footer-nav {
  float: right;
}
.footer-nav li {
  display: inline-block;
  padding-right: 1px;
  color: rgba(255, 255, 255, 0.5);
}
.footer-nav a {
  padding-right: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5);
}
.footer-nav a:hover {
  color: rgb(87, 197, 160);
}
